body {
  margin: 0;
}

.uhsp-slider-wrapper {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  height: 700px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100vw;
}
.uhsp-slider-wrapper > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper {
    height: 600px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper {
    height: 400px;
  }
}
.uhsp-slider-wrapper a {
  text-decoration: none;
}
.uhsp-slider-wrapper .uhsp-left,
.uhsp-slider-wrapper .uhsp-right {
  color: white;
  cursor: pointer;
  fill: none;
  height: 700px;
  line-height: 700px;
  position: absolute;
  stroke: white;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.uhsp-slider-wrapper .uhsp-left svg,
.uhsp-slider-wrapper .uhsp-right svg {
  height: 700px;
  width: 18px;
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper .uhsp-left,
  .uhsp-slider-wrapper .uhsp-right {
    height: 600px;
    line-height: 600px;
  }
  .uhsp-slider-wrapper .uhsp-left svg,
  .uhsp-slider-wrapper .uhsp-right svg {
    height: 600px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-left,
  .uhsp-slider-wrapper .uhsp-right {
    height: 400px;
    line-height: 400px;
  }
  .uhsp-slider-wrapper .uhsp-left svg,
  .uhsp-slider-wrapper .uhsp-right svg {
    height: 400px;
  }
}
.uhsp-slider-wrapper .uhsp-left {
  -moz-transition: padding-left 0.15s ease;
  -o-transition: padding-left 0.15s ease;
  -webkit-transition: padding-left 0.15s ease;
  transition: padding-left 0.15s ease;
  left: 0;
  opacity: 1;
  padding-left: 10px;
  z-index: 2;
}
.uhsp-slider-wrapper .uhsp-left:hover {
  padding-left: 6px;
}
.uhsp-slider-wrapper .uhsp-right {
  -moz-transition: padding-right 0.15s ease;
  -o-transition: padding-right 0.15s ease;
  -webkit-transition: padding-right 0.15s ease;
  transition: padding-right 0.15s ease;
  opacity: 1;
  padding-right: 10px;
  right: 0;
  z-index: 2;
}
.uhsp-slider-wrapper .uhsp-right:hover {
  padding-right: 6px;
}
.uhsp-slider-wrapper .uhsp-slider-titles {
  bottom: 80px;
  left: calc((100vw - 1480px) / 2);
  padding: 0 20px;
  position: absolute;
  width: 1480px;
  z-index: 2;
}
@media only screen and (max-width: 1480px) {
  .uhsp-slider-wrapper .uhsp-slider-titles {
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper .uhsp-slider-titles {
    bottom: 70px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-titles {
    bottom: 20px;
  }
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-hover-bar {
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  height: 2px;
  left: 33.33%;
  padding: 0 3%;
  position: absolute;
  top: -1px;
  width: 33.33%;
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-hover-bar .uhsp-hover-bar-color {
  background-color: #F5C949;
  height: 2px;
  width: 100%;
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-titles .uhsp-hover-bar {
    display: none;
  }
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0 !important;
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 33.33% !important;
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 66.67% !important;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  list-style: none;
  padding: 3px 0 0 0;
  position: relative;
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list {
    border-top: none;
    left: -100%;
    width: 300%;
  }
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  cursor: pointer;
  float: left;
  line-height: 1.3;
  text-align: center;
  width: calc(100% / 3);
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #F5C949;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  opacity: 0.3;
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
    font-size: 25px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
    font-size: 18px;
  }
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title p.uhsp-slide-subtitle {
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  opacity: 0.3;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title.selected h2.uhsp-slide-title {
  opacity: 1;
  padding: 0;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title.selected p.uhsp-slide-subtitle {
  opacity: 1;
}
.uhsp-slider-wrapper .uhsp-slider-images {
  height: 700px;
  left: -100vw;
  opacity: 1;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 300vw;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper .uhsp-slider-images {
    height: 600px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-images {
    height: 400px;
  }
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  height: 100%;
  padding: 0 calc((100vw - 1480px) / 2);
  position: relative;
  white-space: initial;
  width: 100vw;
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
  bottom: 200px;
  height: 36%;
  left: calc(50% - 220px);
  max-height: 36%;
  min-height: 36%;
  position: absolute;
  width: 440px;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
    height: 220px;
    left: calc(50% - 162px);
    width: 324px;
  }
}
@media only screen and (max-width: 667px) {
  .uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
    bottom: 130px;
    height: 105px;
    left: calc(50% - 75px);
    width: 150px;
  }
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide .ushp-slide-overlay {
  background-color: rgba(51, 77, 92, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
