@import "compass/css3/box-sizing";
@import "compass/css3/transition";

@mixin mobile {  @media only screen and (max-width: 667px) { @content; } }
@mixin mini {    @media only screen and (max-width: 800px) { @content; } }
@mixin tablet {  @media only screen and (max-width: 1024px) { @content; } }
@mixin desktop { @media only screen and (max-width: $uhsp-maxWidth) { @content; } }

$uhsp-blue:              #334D5C;
$uhsp-yellow:            #F5C949;
$uhsp-height:            700px;
$uhsp-maxWidth:          1480px;

.uhsp-slider-wrapper {
    -webkit-font-smoothing: antialiased;
    height: $uhsp-height;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;
    
    & > * {
        @include box-sizing(border-box);
    }
    
    @include tablet {
        height: 600px;
    }
    
    @include mobile {
        height: 400px;
    }

    a {
        text-decoration: none;
    }

    // Slide amount specific.
    @for $i from 1 through 5 {
        &.uhsp-amount-#{$i} {
            
            .uhsp-slider-titles {
                left: calc((100% - #{$uhsp-maxWidth}) / 2);
                @include desktop {
                    left: 0;
                }
                
                .uhsp-hover-bar {
                    @if $i == 1 { left: 0; }                        
                    @if $i == 2 { left: 0; }                         
                    @if $i == 3 { left: 33.3333%; }
                    @if $i == 4 { left: 25%; }
                    @if $i == 5 { left: 40%; }
                    width: 100% / $i;
                }

                @for $child from 1 through 5 {
                    .uhsp-title:nth-child(#{$child}):hover ~ .uhsp-hover-bar {
                        left: (100% / $i) * ($child - 1) !important;
                    }
                }

                ul.uhsp-title-list {
                    @include mobile {
                        @if $i == 1 { left: 0; }                        
                        @if $i == 2 { left: -100%; }                         
                        @if $i == 3 { left: -100%; }
                        @if $i == 4 { left: -200%; }
                        @if $i == 5 { left: -200%; }
                        width: 100% * $i;
                    }

                    li.uhsp-title {
                        width: 100% / $i;
                    }
                }
            }

            .uhsp-slider-images {
                @if $i == 1 { left: 0; }
                @if $i == 2 { left: 0; }
                @if $i == 3 { left: -100%; }
                @if $i == 4 { left: -100%; }
                @if $i == 5 { left: -200%; }
                width: 100% * $i;

                .uhsp-single-slide {
                    padding: 0 calc(((100% / #{$i}) - #{$uhsp-maxWidth}) / 2);
                    width: 100% / $i;
                }
            }
        }
    }

    .uhsp-left,
    .uhsp-right {
        color: white;
        cursor: pointer;
        fill: none;
        height: $uhsp-height;
        line-height: $uhsp-height;
        position: absolute;
        stroke: white;
        text-align: center;
        width: 40px;
        z-index: 1;

        svg {
            height: 700px;
            width: 18px;
        }

        @include tablet {
            height: 600px;
            line-height: 600px;

            svg {
                height: 600px;
            }
        }

        @include mobile {
            height: 400px;
            line-height: 400px;

            svg {
                height: 400px;
            }
        }
    }

    .uhsp-left,
    .uhsp-right {
        @include transition(padding .15s ease);
        cursor: pointer;
        opacity: 1;
        z-index: 2;
    }

    .uhsp-left {
        left: 0;
        padding-left: 10px;
        &:hover {
            padding-left: 6px;
        }
    }

    .uhsp-right {
        padding-right: 10px;
        right: 0;
        &:hover {
            padding-right: 6px;
        }
    }

    .uhsp-slider-titles {
        bottom: 70px;
        padding: 0 20px;
        position: absolute;
        width: $uhsp-maxWidth;
        z-index: 2;
        @include desktop {
            left: 0;
            width: 100%;
        }
        @include mobile {
            bottom: 20px;
            padding: 0;
        }

        .uhsp-hover-bar {
            @include transition(left .3s ease);
            height: 2px;
            padding: 0 3%;
            position: absolute;
            top: -1px;
            .uhsp-hover-bar-color {
                background-color: $uhsp-yellow;
                height: 2px;
                width: 100%;
            }

            @include mobile {
                display: none;
            }
        }

        ul.uhsp-title-list {
            border-top: 1px solid mix(transparent, white, 75%);
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            @include mobile {
                border-top: none;
            }

            li.uhsp-title {
                cursor: pointer;
                float: left;
                line-height: 1.6;
                text-align: center;

                h2.uhsp-slide-title {
                    @include transition(opacity .3s ease);
                    color: $uhsp-yellow;
                    cursor: pointer;
                    font-size: 30px;
                    font-weight: 400;
                    margin: 5px 0 0;
                    opacity: 0.3;
                    @include tablet {
                        font-size: 25px;
                    }
                    @include mobile {
                        font-size: 18px;
                    }
                }

                p.uhsp-slide-subtitle {
                    @include transition(opacity .3s ease);
                    color: white;
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0;
                    opacity: 0.3;
                }

                &.selected {
                    h2.uhsp-slide-title {
                        opacity: 1;
                        padding: 0;
                    }
                    p.uhsp-slide-subtitle {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .uhsp-slider-images {
        height: 100%;
        opacity: 1;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        z-index: 1;

        .uhsp-single-slide {
            @include box-sizing(border-box);
            background-position: center center;
            background-size: cover;
            display: inline-block;
            float: left;
            height: 100%;
            position: relative;
            white-space: initial;

            img.uhsp-single-image {
                bottom: 200px;
                height: 36%;
                left: calc(50% - 220px);
                max-height: 36%;
                min-height: 36%;
                position: absolute;
                width: 440px;
                z-index: 1;
                @include tablet {
                    height: 220px;
                    left: calc(50% - 162px);
                    width: 324px;
                }
                @include mobile {
                    bottom: 130px;
                    height: 105px;
                    left: calc(50% - 75px);
                    width: 150px;
                }
            }

            .ushp-slide-overlay {
                background-color: mix($uhsp-blue, transparent, 75);
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 0;
            }
        }
    }
}